_ReSharper.*
_ReSharper*.*
*.resharper.user
bin/*
obj/*
*/bin/*
*/obj/*
*.suo
_ReSharper*/*
*.resharper.user
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
.*.swp
.DS_Store
bin
obj
StyleCop.Cache
*.user
App_Data*
